.main-content
  .main-content__top
    .main-content__top-genre ＞全てのジャンル
    = render "search"
    = render "users/login"
  .main-content__list
    = render partial: 'question', collection: @questions
    .main-content__list__page-nate
      = paginate(@questions)

