.main-content
  .main-content__top
    .main-content__top-genre ＞全てのジャンル
    = render "serch"

    = render "users/login"

  .main-content__list
    = render partial: 'question', collection: @questions

= paginate(@questions)

