- @skiresorts.each do |skiresort|
  - if skiresort.ancestry.nil?
    .main-content__list__skiresort-erea
      = skiresort.name
  - else
    = link_to "/skiresorts/#{skiresort.id}", class:"main-content__list__skiresort" do
      .main-content__list__skiresort-name
        = skiresort.name





