.question__form {
  background-image: image-url("1D800A37-8CEA-447F-AF17-B8B338E83301.JPG");
  height: 800px;
  width: 800px;
  margin: 0 auto;
  &__error {
    padding: 20px 40px 0 40px;
    li {
      list-style: none;
      color: red;
    }
  }
  .new_question {
    height: 600px;
    width: 600px;
    padding: 100px;

    .question-form__input-title {
      background-color: white;
      height: 100px;
      width: 600px;
      margin: 0 auto;
    }
    .question-form__input-text {
      background-color: white;
      height: 400px;
      width: 600px;
      margin: 0 auto;
    }
  }
}
.search-form {
  text-align: center;
  padding-top: 10px;
  .search-input {
    width: 90%;
  }
}

.delete-btn {
  position: relative;
  border-radius: 4px;
  color: rgb(219, 13, 13);
  line-height: 50px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: none;
  transition: none;
  text-shadow: 0px 1px 0px #f56778;
  margin-left: 20px;
}
.more {
  display: flex;
  justify-content: space-between;
}
a:hover{
  text-decoration: none;
}
